<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
  <div class="artist-box">
    <div class="artist-info">
      <h1 class="artist-name"><%= @artist.name %></h1>

    <!-- Social Media Links (Image placeholders for now) -->
      <div class="social-links">
        <%= link_to '<i class="fa fa-globe" aria-hidden="true"></i>'.html_safe, 
            "#", {target: :_blank} %>
        <%= link_to '<i class="fa fa-facebook-square" aria-hidden="true"></i>'.html_safe, 
            "#", {target: :_blank} %>
        <%= link_to '<i class="fa fa-twitter-square" aria-hidden="true"></i>'.html_safe, 
            "#", {target: :_blank} %>
        <%= link_to '<i class="fa fa-deviantart" aria-hidden="true"></i>'.html_safe, 
            "#", {target: :_blank} %>
      </div>

      <p class="description"><%= @artist.description %></p>
    </div>

    <div class="artist-carousel">
        <%= render 'shared/carousel', images: @artist.artwork %>
    </div>
    <div style="clear:both;"></div>
  </div>

  </body>
</html>
